@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@600&family=Barlow+Condensed:wght@400;700&family=Barlow:ital@1&family=Bellefair&family=Noto+Serif:wght@400;700&display=swap");

/* ROOTS FOR THEME */
html[data-theme="vintage"] {
  --bg-player: #6b5c5c;
  --txt-1: #000000;
  --txt-2: white;
  --range-1: rgb(101, 165, 42);
  --range-2: rgb(85, 26, 26);
  --scroll: rgb(180, 114, 114);
  --cover-1: rgb(87, 51, 51);
  --cover-2: wheat;
  --cover-3: rgba(87, 51, 51, 0.2);
  --background: url(/data/bg1.jpg);
  --equa-1: #b7918c;
  --equa-2: #362417;
  --equa-3: rgb(107, 92, 92);
  --equa-4: #92817a;
  --equa-5: #7e7f7c;
  --equa-6: #512727;
  --equa-7: #3f3a41;
}

html[data-theme="modern"] {
  --bg-player: #ffff00;
  --txt-1: #04aca1;
  --txt-2: rgb(110, 12, 110);
  --range-1: purple;
  --range-2: pink;
  --scroll: rgb(180, 114, 114);
  --cover-1: rgb(119, 231, 119);
  --cover-2: rgb(8, 222, 8);
  --cover-3: rgba(2, 92, 2, 0.2);
  --background: url(/data/bg2.jpg);
  --equa-1: #fe53bb;
  --equa-2: #08f7fe;
  --equa-3: #ff9472;
  --equa-4: #ffff00;
  --equa-5: #ff8b8b;
  --equa-6: #40f99b;
  --equa-7: #fe6b35;
}

/* general */
* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  min-height: 100vh;
  background-image: var(--background);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header {
  position: relative;
  width: 100%;
  height: 20vh;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-player);
}

h1 {
  position: absolute;
  top: 0;
  color: var(--bg-player);
}
.heading {
  height: 100%;
  width: auto;
  object-fit: contain;
  display: flex;
  align-items: center;
}
.heading img {
  height: 80%;
}
#theme-toggle {
  max-width: 10rem;
  position: absolute;
  right: 20px;
  top: 20px;
  padding: 0.2rem;
  border-radius: 5px;
  background-color: var(--range-2);
  color: var(--txt-2);
  border-color: var(--range-1);
  cursor: pointer;
}
.vinyl {
  width: 19vh;
}

.vinyl1-animation {
  animation: spin1 5s linear 0s infinite normal forwards;
  -webkit-animation: spin1 5s linear 0s infinite normal forwards;
  -moz-animation: spin1 5s linear 0s infinite normal forwards;
  -o-animation: spin1 5s linear 0s infinite normal forwards;
  -ms-animation: spin1 5s linear 0s infinite normal forwards;
}

.vinyl1-paused {
  animation-play-state: paused;
}
.vinyl2-animation {
  animation: spin2 5s linear 0s infinite normal forwards;
  -webkit-animation: spin2 5s linear 0s infinite normal forwards;
  -moz-animation: spin2 5s linear 0s infinite normal forwards;
  -o-animation: spin2 5s linear 0s infinite normal forwards;
  -ms-animation: spin2 5s linear 0s infinite normal forwards;
}

.vinyl2-paused {
  animation-play-state: paused;
}

@keyframes spin1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes spin1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@-moz-keyframes spin1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@-o-keyframes spin1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes spin2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@-ms-keyframes spin1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-ms-keyframes spin2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.container {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 75vh;
  justify-content: center;
  align-items: center;
}
footer {
  width: 100vw;
  background-color: var(--bg-player);
  padding: 0.5rem 0;
  position: absolute;
  bottom: 0;
  text-align: right;
  color: var(--txt-1);
}
footer a {
  text-decoration: none;
  color: var(--txt-1);
  margin-right: 1rem;
}
/* PLAYER ALL*/
.music-player {
  position: relative;
  display: flex;
  flex-direction: row;
  max-height: 580px;
  width: 800px;
  font-family: Copperplate Gothic Light, serif;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* PLAYER LEFT */
.player {
  /* position: relative; */
  flex: 1;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: var(--txt-1) 3px solid;
  border-right: none;
  opacity: 1;
  background-color: var(--bg-player);
  gap: 10px;
}
.close {
  position: absolute;
  top: 0;
  right: 0;
}
.easter {
  width: 100vw;
  height: 20vh;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  display: none;
  justify-content: center;
  background-color: black;
  z-index: 99;
}

.easter img {
  height: 20vh;
}

.player h2 {
  font-size: 1.5rem;
  color: var(--txt-1);
  text-align: center;
  margin-top: 0.5rem;
}
h3 {
  font-size: 1rem;
  color: var(--txt-1);
  font-family: Segoe UI, sans-serif;
  font-weight: 400;
  font-style: italic;
}
.hidden {
  display: none;
}
.cover {
  width: 220px;
  background: linear-gradient(to right, var(--cover-1), var(--cover-2));
  padding: 3px;
  border-radius: 5px;
  box-shadow: 6px 6px 2px 1px var(--cover-3);
}
#download a {
  text-decoration: none;
  color: var(--txt-2);
  font-family: perpetua, sans-serif;
}
/* volume, controls, progress bars */

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.controls button,
.player button {
  border: none;
  cursor: pointer;
  background: none;
  padding: 20px;
}

.volume-container {
  display: flex;
  width: 75%;
  justify-content: center;
  align-items: center;
}

.volume {
  margin: 0 20px;
  height: 10px;
  outline: none;
  border-radius: 10px;
}

input[type="range"] {
  height: 10px;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  width: 100%;
}

input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  animation-duration: 0.2s;
  box-shadow: 1px 1px 1px var(--range-1);
  background: var(--range-1);
  border-radius: 1px;
  border: 0 solid var(--range-1);
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px var(--range-1);
  border: 1px solid var(--range-1);
  height: 20px;
  width: 20px;
  border-radius: 15px;
  background: var(--range-2);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--range-1);
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animation-duration: 0.2s;
  box-shadow: 1px 1px 1px var(--range-1);
  background: var(--range-1);
  border-radius: 1px;
  border: 0 solid var(--range-1) 1;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px var(--range-1);
  border: 1px solid var(--range-1);
  height: 10px;
  width: 10px;
  border-radius: 15px;
  background: var(--range-2);
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animation-duration: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: var(--range-1);
  border: 0 solid var(--range-1);
  border-radius: 2px;
  box-shadow: 1px 1px 1px var(--range-1);
}
input[type="range"]::-ms-fill-upper {
  background: var(--range-1);
  border: 0 solid var(--range-1);
  border-radius: 2px;
  box-shadow: 1px 1px 1px var(--range-1);
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px var(--range-1);
  border: 1px solid var(--range-1);
  height: 10px;
  width: 10px;
  border-radius: 15px;
  background: var(--range-2);
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: var(--range-1);
}
input[type="range"]:focus::-ms-fill-upper {
  background: var(--range-1);
}

#timer {
  margin-top: 10px;
  font-size: 20px;
}

/* PLAYER RIGHT = PLAYLIST */

.playlist {
  flex: 1;
  padding: 2em 3em;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: var(--txt-1);
  color: var(--txt-2);
}
.playlist-onload {
  position: relative;
  flex: 0.5;
  max-height: 550px;
  margin: auto;
  padding: 2em 3em;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: var(--txt-1);
  color: var(--txt-2);
}

.playlist h2 {
  margin-bottom: 0px;
  text-align: center;
  font-size: 40px;
  font-family: "Alkatra", cursive;
  flex: 1;
}

.playlist ul {
  list-style-type: none;
  flex-basis: 100%;
  overflow-y: scroll;
  padding: 0 5px;
}

.playlist ul li {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 15px 0 10px 0;
  border-bottom: 1px solid var(--bg-player);
  font-family: Segoe UI, sans-serif;
}

.playlist ul li:first-child {
  flex: 0.5;
}

.duration {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-duration {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.song-name {
  font-size: 1rem;
}
.artist-name {
  font-size: 0.8rem;
  opacity: 0.8;
}

.playlist ul li.active {
  font-weight: bold;
  font-size: 1.3rem;
  padding-left: 15px;
}
.playlist ul li.active .img-duration {
  padding: 0.2rem;
  border-radius: 50%;
  border: var(--bg-player) solid 2px;
}
/* playlist scroll bar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ccc;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--bg-player);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--scroll);
  border-radius: 30px;
}

/* random */
.random {
  position: absolute;
  top: 15px;
  margin-left: -20px;
  padding: 0.2rem;
  border-radius: 5px;
  background-color: var(--equa-5);
  display: flex;
  cursor: pointer;
}
.random-clign {
  animation: clign 2000ms infinite;
  -webkit-animation: clign 2000ms infinite;
  -moz-animation: clign 2000ms infinite;
  -o-animation: clign 2000ms infinite;
  -ms-animation: clign 2000ms infinite;
  opacity: 1;
}
@-webkit-keyframes clign {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes clign {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes clign {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-ms-keyframes clign {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes clign {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.random img {
  width: 1rem;
}

/* EQUALIZERS */
/* fake equalizer */
.equalizer {
  text-align: center;
  margin: 10px 0;
  width: 100px;
  margin-top: -1rem;
}
.playlist-header {
  width: 100%;
  display: flex;
  align-items: center;
}
.column {
  display: inline-block;
  width: 5px;
}

#one {
  height: 40px;
  background-color: var(--equa-1);
}

#two {
  height: 35px;
  background-color: var(--equa-2);
}

#three {
  height: 25px;
  background-color: var(--equa-3);
}

#four {
  height: 35px;
  background-color: var(--equa-4);
}

#five {
  height: 45px;
  background-color: var(--equa-5);
}

#six {
  height: 17px;
  background-color: var(--equa-6);
}

#seven {
  height: 50px;
  background-color: var(--equa-7);
}

#invis {
  display: inline-block;
  height: 55px;
  width: 1px;
  background-color: transparent;
}
/* real equalizer */
.equalizer-bar {
  fill: var(--txt-1);
}
.equalizer-container {
  width: 100%;
  position: relative;
  height: 50px;
}
#equalizer {
  position: absolute;
  bottom: -20%;
  right: 50%;
  transform: translate(50%, 20%);
}

/* RESPONSIVE */
@media screen and (max-width: 1200px) {
  #theme-toggle {
    max-width: 5rem;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 0.1rem;
    font-size: 0.7rem;
    border-radius: 5px;
  }
  .vinyl {
    width: 15vh;
  }
}
@media screen and (max-width: 890px) {
  .vinyl2 {
    display: none;
  }
}
@media screen and (max-width: 810px) {
  header {
    justify-content: start;
  }
  .heading {
    margin-left: 1rem;
  }
  .music-player {
    flex-direction: column;
    max-width: min(90%, 500px);
  }
  .player {
    border-radius: 10px;
    border: var(--txt-1) 3px solid;
    border-right: var(--txt-1) 3px solid;
    margin-bottom: 1rem;
    max-height: 450px;
    position: relative;
  }
  .playlist {
    max-height: 400px;
    border-radius: 10px;
    position: relative;
  }
  body {
    min-height: 1350px;
  }
  .close {
    position: absolute;
    top: 20px;
    right: -10px;
  }
  .player h2 {
    font-size: 1rem;
    position: absolute;
    margin: 0;
    left: 20px;
    top: 15px;
    max-width: 50%;
    height: 35px;
    overflow: hidden;
  }
  .player h3 {
    font-size: 0.9rem;
    margin: 0;
    position: absolute;
    right: 20px;
    top: 15px;
  }
  #cover {
    margin-top: 50px;
  }
  #timer {
    margin-top: 0;
  }
  .volume-container {
    margin-top: -10px;
    margin-bottom: 20px;
  }
  #download {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

@media screen and (max-width: 470px) {
  .vinyl1 {
    display: none;
  }
}
